.ProductItem {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 25px;
}

.ProductItem .imageContainer img {
  width: 275px;
  height: 286px;
  position: relative;
  z-index: -2;
  object-fit: cover;
}
.styleBorder {
  height: 286px;
  width: 275px;
  position: relative;
  margin-top: -258px;
  margin-right: auto;
  margin-left: 21px;
  border: 7px solid #5b6b3e;
  z-index: 2;
}
h4 {
  font-size: 30px;
  margin: 25px;
  font-weight: 700;
  color: #5b6b3e;
}
p {
  font-size: 16px;
  line-height: 1.5rem;
  margin: 10px 25px;
}

.ProductItem:nth-child(even) {
  flex-direction: column-reverse;
}
