.topContainer {
  background-color: #71886d9e;
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  z-index: 3;
  padding-bottom: 5px;
}
.topHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 25px;
  align-items: center;
}
.logo-image {
  width: 42px;
  height: 42px;
  display: inline-block;
  position: relative;
  top: -5px;
  border-radius: 50%;
}
.name {
  display: inline-block;
  position: relative;
  top: -15px;
}
.rightIcon1 {
  margin-right: 5px;
}
.rightIcon2 {
  position: relative;
  top: 6px;
}
.rightClicks {
  display: flex;
  flex-direction: row;
}
